<div class="account-info">
    <div class="mnemonic">
        <h4>MNEMONIC</h4>
        <span>car solution green sort oyster deputy drip camp fiscal census barely tonight</span>
    </div>
    <div class="hd-path">
        <h4>HD PATH</h4>
        <span>m/44'/60'/0'/0/account_index</span>
    </div>
</div>