{
  "root": true,
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
        "impliedStrict": true,
        "jsx": true
    }
  },
  "extends": "standard",
  "rules": {
    "curly": ["error", "all"],
    "semi": ["error", "always"],
    "quotes": ["error", "double"],
    "wrap-iife": ["error", "outside"],
    "space-before-function-paren": ["error", "never"],
    "brace-style": ["error", "1tbs", {
      "allowSingleLine": false
    }],
    "max-len": ["error", 120]
  }
}
