:root {
  --body-bg-color: #281e21;
  --main-bg-color: #33262a;
  --main-bg-light-contrast: #443338;
  --main-bg-medium-contrast: #5a4d51;
  --main-bg-heavy-contrast: #806f74;
  --medium-bg-color: rgba(255, 255, 255, 0.1);
  --body-text: #fff0e1;

  --action-bg: rgba(255, 255, 255, 0.1);
  --action-text: rgba(255, 255, 255, 0.9);
  --action-bg-hover: rgba(255, 255, 255, 0.3);
  --action-shadow: rgba(0, 0, 0, 0.3);
  --action-border: rgba(255, 255, 255, 0.8);

  --color-switcher-icon: url("./assets/img/sun.svg");
  --icon-bg: invert(98%) sepia(22%) saturate(1116%) hue-rotate(298deg)
    brightness(103%) contrast(103%);
  --chevron-bg: invert(94%) sepia(11%) saturate(658%) hue-rotate(317deg)
    brightness(102%) contrast(103%);

  --console-line: rgba(255, 255, 255, 0.05);

  --light-turquoise: #99f4e5;
  --turquoise: #3fe0c5;
  --medium-dark-turquoise: #1bd4b5;
  --dark-turquoise: #00c3a2;

  --light-porsche: #f7e6d5;
  --porsche: #e4a663;
  --medium-dark-porsche: #c2823c;
  --dark-porsche: #9f611d;

  --light-pink: #f069d6;
  --pink: #e911bd;

  --thunder: #251f21;
}
  --body-bg-color: rgba(0, 0, 0, 0.02);
  --main-bg-color: #fff;
  --main-bg-light-contrast: #f1f1f1;
  --main-bg-medium-contrast: #aaa;
  --main-bg-heavy-contrast: #bbb;
  --medium-bg-color: rgba(0, 0, 0, 0.08);
  --body-text: #251f21;

  --action-bg: rgba(0, 0, 0, 0.1);
  --action-text: rgba(0, 0, 0, 0.9);
  --action-bg-hover: rgba(0, 0, 0, 0.3);
  --action-shadow: rgba(0, 0, 0, 0.2);
  --action-border: rgba(0, 0, 0, 0.2);

  --color-switcher-icon: url("./assets/img/moon.svg");
  --icon-bg: invert(9%) sepia(8%) saturate(7492%) hue-rotate(301deg)
    brightness(96%) contrast(93%);
  --chevron-bg: invert(9%) sepia(8%) saturate(7492%) hue-rotate(301deg)
    brightness(96%) contrast(93%);

  --console-line: rgba(0, 0, 0, 0.05);

  --light-turquoise: #4b7a73;
  --turquoise: #258575;
  --medium-dark-turquoise: #12826f;
  --dark-turquoise: #248e7c;

  --light-porsche: #736456;
  --porsche: #785632;
  --medium-dark-porsche: #e4a663;
  --dark-porsche: #f7e6d5;

  --light-pink: #e911bd;
  --pink: #f069d6;

  --thunder: #f1f1f1;
}
html,
body {
  background-color: var(--body-bg-color);
  margin: 0;
  padding: 0;
  color: var(--body-text);
  font-family: "Open Sans", sans-serif;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: var(--main-bg-light-contrast);
}
::-webkit-scrollbar-thumb {
  background: var(--main-bg-medium-contrast);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--main-bg-heavy-contrast);
}
::-webkit-scrollbar-corner {
  background: var(--main-bg-heavy-contrast);
}
h1 {
  color: var(--porsche);
  font-family: "Grand Hotel";
  font-weight: normal;
  margin: 0.5rem 0.5rem 0.5rem 1rem;
}
.signature {
  font-size: 1em;
  padding: 1.5em 2em;
  background: var(--medium-bg-color);
  margin-top: 0em;
  font-family: "Share Tech Mono", monospace;
}
a {
  color: var(--turquoise);
  text-decoration: none;
}
a:hover,
a:focus {
  color: var(--turquoise);
  text-decoration: underline;
}
i {
  font-size: 1.25em;
  cursor: pointer;
}
aside {
  height: 100%;
  width: 100%;
  z-index: 2;
  background: var(--main-bg-color);
  overflow-x: scroll;
  padding-left: 1em;
  max-width: 420px;
  min-width: 390px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);
}
aside ul {
  list-style: none;
  padding: 0 0 2rem 0;
  margin: 1rem 0;
}
aside ul li {
  margin: 0.5rem 1rem 0.5rem 0;
}
.hide {
  display: none;
}
.small {
  font-size: 0.9em;
}
.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
}
.tag {
  font-weight: bold;
  font-size: 1.1em;
  text-transform: capitalize;
}
.example_container {
  margin-bottom: 0rem;
}
.tag_example {
  padding-bottom: 1rem !important;
}
.return_type {
  margin: 1em 0;
}
.return_type > p:nth-child(2) {
  display: inline;
}
.console-line {
  border-top: solid 1px var(--console-line);
  padding: 0 1em;
}
.run-button {
  background: var(--action-bg);
  color: var(--action-text);
  position: absolute;
  right: 2rem;
  padding: 0.25em 0.5em;
  cursor: pointer;
  border-radius: 0 0 3px 3px;
  z-index: 1;
  text-transform: uppercase;
  box-shadow: 0 1px 5px var(--action-shadow);
  position: absolute;
  transition: background-color 0.2s ease-in-out;
}
.run-button:hover {
  background-color: var(--action-bg-hover);
}
.editor-container {
  position: relative;
  z-index: 0;
  margin: 0px 0rem 0px 1rem;
  box-shadow: 0 3px 3px rgb(0 0 0 / 30%);
  border-radius: 6px;
}
.editor-container::before {
  content: " ";
  pointer-events: none;
  width: 100%;
  position: absolute;
  height: 7px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), transparent);
  z-index: 1;
}
.console-container {
  position: relative;
  z-index: 0;
  margin: 0px 0rem 0px 1rem;
  box-shadow: 0 3px 3px rgb(0 0 0 / 30%);
  border-radius: 6px;
}
.console {
  font-family: "Droid Sans Mono", monospace, monospace, "Droid Sans Fallback";
  font-size: 14px;
  font-feature-settings: "liga" 0, "calt" 0;
  line-height: 19px;
  letter-spacing: 0px;
  height: 200px;
  position: relative;
  overflow: auto;
  padding: 0.3em 0.1em;
  display: flex;
  flex-direction: column-reverse;
  border-radius: 6px;
}
.console::-webkit-scrollbar {
  width: 12px;
}
.console::-webkit-scrollbar-track {
  background: var(--thunder);
}
.console::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 47%, 0.4);
}
.console::-webkit-scrollbar-thumb:hover {
  background: hsla(0, 0%, 50%, 0.7);
}
.tab-container {
  border-top: solid 1px #393939;
  position: relative;
  z-index: 9;
  font-size: 0.75em;
  text-transform: uppercase;
}
.tab {
  display: inline-block;
  border-bottom: solid 1px transparent;
  opacity: 0.6;
  padding: 1em;
  padding: 1em;
  cursor: pointer;
  color: white;
  transition: all 0.15s ease-in-out;
}
.tab-active,
.tab:hover {
  opacity: 1;
}
.tab-active {
  border-bottom: solid 1px white;
}
header {
  background-color: var(--main-bg-color);
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.25);
  z-index: 999;
}
header h1 {
  display: inline-block;
  margin: 0.5rem;
}
header span {
  padding-left: 1em;
}
.ganache-link {
  margin: 0rem 1rem;
  display: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
}
.ganache-link img {
  height: 3.5em;
  width: 3.5em;
  display: inline-block;
  vertical-align: bottom;
}
a.ganache-link:hover {
  text-decoration: none;
}
main {
  display: flex;
  overflow: auto;
}
article {
  flex: 1;
  overflow: auto;
}
article > div {
  box-shadow: 0 3px 3px rgb(0 0 0 / 30%);
  margin-bottom: 2rem;
  background-color: var(--main-bg-color);
}
article .doc-section {
  border-top: solid 1px rgba(255, 255, 255, 0.2);
  padding-bottom: 2rem;
}
.doc-section > div.content {
  padding: 0 2rem;
}
.monaco-editor,
.monaco-editor .overflow-guard {
  border-radius: 6px;
}

article div.wide-content {
  padding: 0 0;
}
article.sidebar-open {
  transition: 0.3s ease-in-out;
}

/* medium devices (tablets) */
@media (min-width: 768px) {
  aside {
    width: 33.3%;
  }
}
/* large devices (desktops) */
@media (min-width: 992px) {
  header span {
    display: none;
  }
  aside {
    width: 25%;
    display: block !important;
  }
  .ganache-link {
    display: inline-block;
  }
}

.monaco {
  padding-left: 10px;
  min-height: 100px;
  background-color: var(--thunder);
  margin: 0px 0rem 0px 1rem;
  border-radius: 6px;
  box-shadow: 0 3px 3px rgb(0 0 0 / 30%);
  overflow: auto;
}
.monaco pre {
  background-color: var(--thunder);
  margin: 0px;
  padding-bottom: 20px;
}

code {
  font-size: 14px;
  line-height: 19px;
}

.hide-monaco {
  visibility: hidden;
  height: 0px;
  min-height: 0px;
}
.category-header {
  margin-bottom: 0;
  padding: 0rem 2rem;
  border-top: solid 1px rgba(255, 255, 255, 0.06);
}
.category-header > h2 {
  text-transform: uppercase;
  margin: 0;
  padding: 0.75rem 0rem;
}

.sidebar > details {
  margin-top: 20px;
}
.sidebar > details > summary {
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  list-style: none;
}
.sidebar > details:not([open]) > summary > img {
  transform: rotate(0deg);
}
.sidebar > details > summary > img {
  height: 1rem;
  width: 1rem;
  filter: var(--chevron-bg);
  margin-right: 0.5rem;
  transform: rotate(90deg);
  transition: transform 0.1s ease;
}
.sidebar > details > ul {
  text-transform: none;
  padding-left: 17px;
  margin-top: 5px;
  padding-bottom: 0px;
}

.sidebar > details > ul > li {
  border-left-style: dotted;
  border-left-width: 1px;
  border-color: rgba(255, 255, 255, 0.4);
  padding: 1px 0px 0px 10px;
  margin: 1px;
  white-space: nowrap;
}

.sidebar > details > ul > li > div {
  display: inline;
  margin-left: -8px;
  font-size: x-small;
  margin-right: 5px;
  color: rgba(255, 255, 255, 0.4);
}

.preamble {
  padding: 0rem 2rem 1rem 2rem;
  border-top: none;
}

.preamble > h2 {
  margin-top: 0rem;
  padding-top: 1rem;
}

header svg:hover {
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 16px;
}
.header-action > .logo {
  height: 1.5rem;
  width: 1.5rem;
}

.header-action {
  float: right;
  margin: 1rem 0.5rem;
  border: 1px solid var(--action-border);
  border-radius: 8px;
  display: flex;
  background-color: var(--action-bg);
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  justify-content: center;
  align-items: center;
}
.header-action:hover {
  background-color: var(--action-bg-hover);
}
.header-action:first-of-type {
  margin-right: 1.5rem;
}
.header-action > .logo {
  filter: var(--icon-bg);
}
#color-switcher .logo {
  background-position: center;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}
