name: Release

on:
  push:
    branches: [alpha, canary]

jobs:
  release:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/setup-node@v1
        with:
          node-version: 16

      - name: Set git identity
        run: |
          git config --global user.name 'Robot'
          git config --global user.email 'robot@trufflesuite.com'
          git remote set-url origin https://robot:${GITHUB_TOKEN}@github.com/$GITHUB_REPOSITORY
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run installation
        run: npm ci

      - name: Test
        run: npm test
        env:
          FORCE_COLOR: 1
          INFURA_KEY: ${{ secrets.INFURA_KEY }}

      - name: Update package versions
        # ${GITHUB_REF##*/} is the branch name
        run: |
          $(npm bin)/lerna version prerelease --no-git-tag-version --no-push --yes --exact --preid ${GITHUB_REF##*/}
          git add .

      - name: Run build
        run: npm run build

      - name: Update documentation
        run: |
          npm run docs.build
          git add docs/**

      - name: Commit all staged changes
        run: |
          VERSION=$(node -e 'console.log(require("./src/packages/ganache/package.json").version)')
          git commit -m "chore(release): publish v${VERSION}" -m "ganache@${VERSION}"

      # # TODO: sign the last commit and tag
      - name: Tag the amended release commit
        run: |
          VERSION=$(node -e 'console.log(require("./src/packages/ganache/package.json").version)')
          git tag -a "ganache@${VERSION}" -m "ganache@${VERSION}"

      - name: Push changes to git
        run: |
          git push origin ${GITHUB_REF##*/}
          git push origin --tags

      - name: Set up auth for npm publish
        run: npm config set '//registry.npmjs.org/:_authToken' "${NPM_TOKEN}"
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      # - name: Smoke test release
      #   TODO: set up verdaccio to mock npm https://verdaccio.org/

      # this needs `--no-verify-access` until https://github.com/lerna/lerna/issues/2788 is fixed
      - name: Release to npm
        run: |
          $(npm bin)/lerna publish from-package --yes --dist-tag ${GITHUB_REF##*/} --pre-dist-tag ${GITHUB_REF##*/} --no-verify-access
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # publish to docker and github packages
      - name: Log in to Docker Hub
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}

      - name: Log in to the Container registry
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          images: |
            trufflesuite/ganache
            ghcr.io/${{ github.repository}}

      - name: Build and push Docker image
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          context: .
          file: ./src/packages/ganache/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
